.main
  width: 100%  
  margin: 16px 0 78px  
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-template-rows: repeat(5, auto)
  grid-gap: 16px
  
  // Слайдеры афиши и кино
  &-slider-top
    width: 100%
    height: 100%    
    grid-column: span 2
    grid-row: span 2

  // Цветные боксы
  &__box
    // grid-column: span 1
    // grid-row: span 1    
    width: 100%
    padding-bottom: 97.5%
    position: relative
    &-content 
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
    &-counter
      +thin
      font-size: 72px
      color: $white
      line-height: 100%
    &-title
      +bold
      font-size: 22px
      line-height: 140%
      color: $white
      text-transform: uppercase
    &_shops
      background: linear-gradient(0deg, $orange, $orange)
    &_amuse
      background: linear-gradient(0deg, #F45172, #F45172)
    &_services
      background: linear-gradient(0deg, #9355C8, #9355C8)
    &_cafe
      background: #FEBA13
  // Акции и события
  &__box
    &-sale
      background: $grey5
      &-content
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        padding: 24px
        display: flex
        flex-direction: column
      &-total
        background: $white
        border: 8px solid $grey1
        &-counter
          +thin
          font-size: 72px
          color: black
          line-height: 100%
        &-title
          +bold
          font-size: 22px
          line-height: 140%
          color: black
          text-transform: uppercase
    &-type
      +norm
      color: $brown
      font-size: 16px
      line-height: 24px
      letter-spacing: 2px
      text-transform: uppercase
      margin-bottom: 16px                     
    &-text
      +bold 
      color: $brown
      font-size: 22px
      line-height: 140%                                  
    &-period
      +bold 
      font-size: 18px
      line-height: 27px
      color: $grey2
      margin-top: auto    

// Слайдер афиш
.news-slider
  &-slide
    img
      width: 100%  
  &-prev
    display: none
  &-next 
    position: absolute
    bottom: 24px
    left: 72px
    width: 28px
    height: 28px
    cursor: pointer
  .slick-dots
    position: absolute
    bottom: 32px
    left: 32px    
    list-style: none
    display: flex         
    li 
      width: 8px
      height: 8px
      border: none
      border-radius: 50%
      margin-right: 8px
      &:last-child
        margin-right: 0
      button
        padding: 0 
        width: 8px
        height: 8px
        border: none
        outline: none
        border-radius: 50%
        color: transparent
        background: $white
        cursor: pointer
    li.slick-active
      button
        background: $grey3

// Слайдер кинотеатра
.cinema-slider  
  margin-top: 5px  

// Слайдер скидок на мобилке
.sale-slider.slick-slider
  display: none  
.sale-slider  
  grid-row: span 1
  grid-column: span 2
  .slick-slide
    margin-right: 8px
  &__slide
    position: relative
    width: 100%
    padding-bottom: 69.5%
    position: relative      
  &__content
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    flex-direction: column      
    justify-content: center
    padding: 24px 16px 21px
    background: $grey5      
    &-total
      background: $white
      border: 8px solid $grey1
      align-items: center
  &__type
    +norm 
    color: $brown 
    font-size: 12px
    line-height: 18px
    letter-spacing: 1px
    margin-bottom: 8px
    text-transform: uppercase
  &__text
    +bold 
    color: $brown
    font-size: 22px
    line-height: 120%
  &__period
    +bold
    color: $orange  
    font-size: 18px
    line-height: 27px
    margin-top: auto
  &__counter
    +thin 
    color: $brown
    font-size: 22.5vw
    line-height: 100%
  &__title  
    +bold 
    color: black
    font-size: 7vw      
    text-transform: uppercase
  .slick-dots
    width: 100%
    list-style: none
    display: flex
    justify-content: center
    margin-top: 18px
    margin-bottom: 24px    
    li 
      width: 8px
      height: 8px
      border: none
      border-radius: 50%
      margin-right: 8px
      &:last-child
        margin-right: 0
      button
        padding: 0 
        width: 8px
        height: 8px
        border: none
        outline: none
        border-radius: 50%
        color: transparent
        background: $grey3
        cursor: pointer
    li.slick-active
      button
        background: $orange  

// Слайдер с брендами
.brands-slider
  grid-column: span 4    
  padding: 0 146px
  margin: 58px 0 80px
  &-slide
    img 
      width: auto
  &-prev
    position: absolute
    transform: translateY(-50%)
    top: 50%
    left: 24px
    cursor: pointer
  &-next 
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: 24px
    cursor: pointer
  .slick-dots    
    width: 100%
    list-style: none
    display: flex
    justify-content: center
    margin-top: 18px    
    li 
      width: 8px
      height: 8px
      border: none
      border-radius: 50%
      margin-right: 8px
      &:last-child
        margin-right: 0
      button
        padding: 0 
        width: 8px
        height: 8px
        border: none
        outline: none
        border-radius: 50%
        color: transparent
        background: $grey3
        cursor: pointer
    li.slick-active
      button
        background: $orange    

@media screen and ( max-width: 1400px )
  .main
    margin: 16px 0 40px
  .brands-slider
    padding: 0 66px
    margin: 30px 0
    &-next
      right: 0
    &-prev
      left: 0       

@media screen and ( max-width: 1199px )
  .main__box-sale-total-title
    font-size: 20px

@media screen and ( max-width: 1023px )
  .main__box
    &-counter, &-sale-total-counter
      font-size: 7vw
    &-title, &-sale-total-title
      font-size: 2vw
    &-type
      font-size: 1.6vw
      margin-bottom: 10px
    &-text 
      font-size: 2vw
    &-period 
      font-size: 1.8vw   
                   
@media screen and ( max-width: 768px )
  .main
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(6, auto)      
    &-slider-top
      grid-row: span 1
    &__box  
      &-counter, &-sale-total-counter
        font-size: 9.4vw
      &-title, &-sale-total-title
        font-size: 2.8vw
      &-type
        font-size: 2.3vw
        margin-bottom: 12px
      &-text 
        font-size: 3.8vw
      &-period 
        font-size: 2.8vw
  .news-slider
    margin-bottom: 24px
    .slick-dots
      position: relative
      width: 100%
      justify-content: center
      margin-top: 18px
      left: 0
      bottom: 0
      li 
        button 
          background: $grey3
      li.slick-active
        button 
          background: $orange
  .cinema-slider
    grid-row: 5
    margin-top: 0
  .sale-hidden          
    display: none
  .brands-slider.slick-slider
    grid-column: span 2 
  .brands-slider
    margin-bottom: 0
    padding: 0
    &-slide
      img
        width: inherit   

@media screen and ( max-width: 576px )
  .main    
    margin-top: 8px
    grid-gap: 8px    
    &__box-sale, &__box-sale-total
      display: none
    &__box  
      &-counter, .sale-slider__counter
        font-size: 14vw
      &-title, &-sale-total-title
        font-size: 5vw       
  .news-slider
    margin-bottom: 16px    
  .sale-slider.slick-slider    
    display: block
    margin-top: 24px
  .sale-slider
    &__counter
      font-size: 18vw
    &__title
      font-size: 6vw  
    &__type
      font-size: 4vw
      margin-bottom: 5vw
    &__text 
      font-size: 6vw
    &__period 
      font-size: 4.5vw  
      
    

  
    



