
@font-face 
  font-family: 'Circe Regular'
  src: url('Circe-Regular.eot')
  src: url('Circe-Regular.eot?#iefix') format('embedded-opentype'),
  url('Circe-Regular.woff') format('woff'),
  url('Circe-Regular.ttf') format('truetype')  
  font-style: normal
  font-display: auto
  -webkit-font-smoothing: antialiased 