@media screen and ( min-width: 992px )
  
  // Шапка, футер, главная
  .header
    &__button:hover
      color: $white
      background: $brown
      border: 2px solid $brown
    &__social-link:hover
      color: $brown
    &__instagram:hover
      -webkit-text-fill-color: $brown    
    &__about-link:hover      
      svg
        transform: rotate(180deg)
        path 
          fill: $orange
      .header__about-link-text
        color: $orange
      .header__about-list
        opacity: 1
        display: block  
  .menu
    &__item:hover
      .menu__item-img
        path
          fill: $orange
    &__search-panel-close:hover
      svg 
        path 
          fill: $brown
  .footer
    &__contacts-btn:hover
      color: $white
      background: $brown
      border: 2px solid $brown
    &-top-btn:hover      
      background: $white        
      svg
        path
          fill: $brown
  // Магазины 
  .shops-by-logo__item:hover
    box-shadow: 0px 9px 46px rgba(39, 49, 141, 0.12), 0px 24px 38px rgba(9, 18, 48, 0.14)  

        
  