@media screen and ( min-width: 992px )
  
  // Шапка, футер, главная
  .header
    &__button:hover
      color: $white
      background: $brown
      border: 2px solid $brown
    &__social-link:hover
      color: $brown
    &__instagram:hover
      -webkit-text-fill-color: $brown    
    &__about-link:hover      
      svg
        transform: rotate(180deg)
        path 
          fill: $orange
      .header__about-link-text
        color: $orange
      .header__about-list
        opacity: 1
        display: block  
  .menu
    &__item:hover
      .menu__item-img
        path
          fill: $orange          
    &__search-panel-close:hover
      svg 
        path 
          fill: $brown
  .footer
    &__contacts-btn:hover
      color: $white
      background: $brown
      border: 2px solid $brown
    &-top-btn:hover      
      background: $white        
      svg
        path
          fill: $brown
  // Магазины 
  .shops-by-logo__item:hover
    box-shadow: 0px 9px 46px rgba(39, 49, 141, 0.12), 0px 24px 38px rgba(9, 18, 48, 0.14)

  // Акции и события 
  .sales__list-item:hover
    .sales__list-item-content-hover
      visibility: visible
      opacity: 1 

  //Слайдер в О торговом парке и фотоотчетах
  .section-slider-thumbs
    .swiper-slide
      &:hover 
        opacity: 1 

  // Страница Вакансий
  .vacancies__list-item:hover
    box-shadow: 0px 0px 30px rgba(39, 49, 141, 0.06), 0px 8px 12px rgba(16, 25, 57, 0.04), 0px 1px 2px rgba(16, 25, 57, 0.04) 
    .vacancies__list-item-icon
      path 
        fill: $orange

  // Иконка схемы парка
  .brand__header-scheme:hover
    .shops-panel__filter-icon-scheme
      path 
        fill: $orange 
  .event__info-item-scheme:hover
    svg
      path
        fill: $orange           
        
  