@media screen and ( min-width: 992px )
  
  // Шапка
  .header
    &__button:hover
      color: $white
      background: $brown
      border: 2px solid $brown
    &__social-link:hover
      color: $brown
    &__instagram:hover
      -webkit-text-fill-color: $brown    
    &__about-link:hover      
      svg
        transform: rotate(180deg)
        path 
          fill: $orange
      .header__about-link-text
        color: $orange        


  
  .footer
    &__contacts-btn:hover
      color: $white
      background: $brown
      border: 2px solid $brown
    &-top-btn:hover      
      background: $white        
      svg
        path
          fill: $brown


        
  