*
  box-sizing: border-box
a 
  text-decoration: none
body 
  font-family: 'Circe Regular', sans-serif
  padding: 18px 0 50px
img 
  display: block 
ul, li
  margin: 0
  padding: 0       

.container
  width: 100%
  max-width: 1328px
  margin: 0 auto
.logo
  display: block
  width: 421px
  img 
    width: 100%  

@media screen and ( max-width: 1440px )
  .container
    max-width: 1104px    
  .logo
    width: 385px
@media screen and ( max-width: 1199px )
  .container
    max-width: 992px
@media screen and ( max-width: 1024px )
  .container
    max-width: none
    padding: 0 8px         
@media screen and ( max-width: 992px )
  body 
    padding: 18px 0 25px
  .container
    padding: 0 8px
@media screen and ( max-width: 576px )
  .logo
    width: 203px          
      