*
  box-sizing: border-box
a 
  text-decoration: none
  -webkit-tap-highlight-color: transparent
body 
  font-family: 'Circe Regular', sans-serif
  padding: 18px 0 50px
img 
  display: block 
  width: 100%
ul, li, p, h1, h2, h3
  margin: 0
  padding: 0 
form, input, button
  border: none
  outline: none
button
  cursor: pointer          

.container
  width: 100%
  max-width: 1328px
  margin: 0 auto
.logo
  display: block
  width: 421px
  img 
    width: 100%  

@media screen and ( max-width: 1400px )
  .container
    max-width: 1104px    
  .logo
    width: 360px
@media screen and ( max-width: 1199px )
  .container
    max-width: 992px
@media screen and ( max-width: 1023px )
  .container
    max-width: none
    padding: 0 8px         
@media screen and ( max-width: 992px )
  body 
    padding: 18px 0 25px
  .container
    padding: 0 16px
   
@media screen and ( max-width: 768px )
  body
    padding: 26px 0 25px      
  .logo
    width: 276px          
@media screen and ( max-width: 576px )
  body 
    padding: 7px 0 25px
  .container
    padding: 0 8px   
  .logo
    width: 203px          
      