*
  box-sizing: border-box
a 
  text-decoration: none
body 
  font-family: 'Circe Regular', sans-serif
  padding-top: 18px
img 
  display: block      

.container
  width: 100%
  max-width: 1328px
  margin: 0 auto  