@mixin norm
  font-family: 'Circe Regular', sans-serif
  font-weight: normal
  -webkit-font-smoothing: antialiased  
   
@mixin bold
  font-family: 'Circe Regular', sans-serif
  font-weight: bold
  -webkit-font-smoothing: antialiased