.header
  &__wrapper
    display: flex
    align-items: center    
    margin-bottom: 21px 
  &__about-link
    display: flex
    align-items: center
    margin-left: 78px
    cursor: pointer
    &-text      
      color: $brown
      +bold
      font-size: 16px
      line-height: 24px
      letter-spacing: 0.8px 
      transition: 0.3s     
    svg
      cursor: pointer
      transition: 0.3s
      margin-left: 7px 
      path 
        fill: $brown  
  &__working-hours
    display: flex
    color: $grey
    +norm
    font-size: 16px
    line-height: 24px
    letter-spacing: 0.8px
    margin-left: 65px
  &__button
    color: $brown
    +norm
    font-size: 16px
    line-height: 24px
    letter-spacing: 0.8px
    border: 2px solid $grey
    padding: 9px 25px 9px 30px
    margin-left: 44px
    transition: 0.3s
  &__social-links
    +bold
    text-transform: uppercase
    font-size: 16px
    line-height: 24px
    letter-spacing: 1.4px
    margin-left: auto
  &__social-link
    margin-left: 7px
    transition: 0.3s        
  &__vk
    color: rgba(52, 89, 162, 0.873613)
  &__instagram
  &__facebook
    color: #3165A2
  &__youtube
    color: rgba(205, 45, 45, 0.873613)
.menu
  height: 56px
  display: flex
  &__search-button
    width: 60px
    display: flex
    justify-content: center
    align-items: center
    background-color: $orange
    margin-right: 3px
    cursor: pointer
  &__park-plan 
    display: flex
    align-items: center
    background-color: $orange
    padding: 0 42px 0 33px
    margin-right: 3px
    cursor: pointer
    img 
      width: 18px
      height: 18px
      margin-right: 17.5px
    span
      color: $white
      +bold
      text-transform: uppercase
      font-size: 12px
      line-height: 16px
      letter-spacing: 1.4px
  &__navigation
    background: $brown
    display: flex
    align-items: center
    width: 100%
    max-width: 1103px
  &__list
    list-style: none
    width: 100%
    display: flex
    justify-content: space-between
    padding: 0 29px 0 61px    
  &__item
    display: flex
    align-items: center
    cursor: pointer  
  &__item-img
    margin-right: 10px
    width: 18px
    height: 18px
  &__item-svg
    margin-left: 5px  
  &__item-link
    color: $white
    +bold
    text-transform: uppercase
    font-size: 14px
    line-height: 21px
    letter-spacing: 0.8px 
@media screen and ( max-width: 1440px )
  .header
    &__wrapper
      margin-bottom: 13px
    &__working-hours
      flex-direction: column
      font-size: 14px
      line-height: 14px
      margin-left: 42px
    &__button
      margin-left: 17px 
      padding: 7px 25px 6px 30px 
    &__social-links
      font-size: 12px
      line-height: 12px

  .menu
    &__list
      padding: 0 24px 0 32px     
      
    