.header
  &__wrapper
    display: flex
    align-items: center    
    margin-bottom: 21px 
  &__about-link
    display: flex
    align-items: center
    margin-left: 78px
    cursor: pointer
    &-text      
      color: $brown
      +bold
      font-size: 16px
      line-height: 24px
      letter-spacing: 0.8px 
      transition: 0.3s     
    svg
      cursor: pointer
      transition: 0.3s
      margin-left: 7px 
      path 
        fill: $brown  
  &__working-hours
    display: flex
    color: $grey
    +norm
    font-size: 16px
    line-height: 24px
    letter-spacing: 0.8px
    margin-left: 65px
  &__button
    color: $brown
    +norm
    font-size: 16px
    line-height: 24px
    letter-spacing: 0.8px
    border: 2px solid $grey
    padding: 9px 25px 9px 30px
    margin-left: 44px
    transition: 0.3s
  &__social-links
    +bold
    text-transform: uppercase
    font-size: 16px
    line-height: 24px
    letter-spacing: 1.4px
    margin-left: auto
  &__social-link
    margin-left: 7px
    transition: 0.3s        
  &__vk
    color: rgba(52, 89, 162, 0.873613)
  &__instagram
  &__facebook
    color: #3165A2
  &__youtube
    color: rgba(205, 45, 45, 0.873613)
  &-mobile-btn
    display: none  
 
@media screen and ( max-width: 1440px )
  .header
    &__wrapper
      margin-bottom: 13px
    &__working-hours
      flex-direction: column
      font-size: 14px
      line-height: 14px
      margin-left: 42px
    &__button
      margin-left: 17px 
      padding: 7px 25px 6px 30px 
    &__social-links
      font-size: 12px
      line-height: 12px
  
@media screen and ( max-width: 1199px )
  .header
    &__wrapper
      justify-content: space-between
    &__about-link
      margin-left: 0
    &__working-hours
      margin-left: 0
    &__button
      margin-left: 0
    &__social-links
      margin-left: 0
    &__social-link
      margin-left: 4px
      &:first-child
        margin-left: 0
  
@media screen and ( max-width: 992px )
  .header
    &__wrapper
      position: relative
    &__about-link, &__social-links
      display: none
    &__working-hours
      margin-left: auto
    &__button
      margin: 0 77px 0 15px 
    &-mobile-btn
      position: absolute
      display: flex
      align-items: center
      justify-content: center
      top: -6px
      right: 0px
      width: 60px
      height: 56px
      background: #F2F0F0
      cursor: pointer
      &__burger
        position: relative
        width: 20px
        height: 2px
        background: $brown
        &:before
          position: absolute
          content: ''
          left: 0
          bottom: 7px
          width: 20px
          height: 2px
          background: $brown
        &:after
          position: absolute
          content: ''
          left: 0
          top: 7px
          width: 20px
          height: 2px
          background: $brown
  
@media screen and ( max-width: 768px )
  .header
    &__wrapper
      margin: 0 0 23px
    &__days, &__button
      display: none
    &__working-hours
      margin-right: 77px
    &-mobile-btn
      top: -14px
   
@media screen and ( max-width: 576px )
  .header
    &__wrapper
      margin-bottom: 9px
    &__working-hours
      margin-right: 0
    &__time
      padding-top: 6px  
    &-mobile-btn
      width: 56px
      top: 33px 
      

        